<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiek.androidapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikona"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ikona_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".veshjetMoti"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtD7zp_W-OYJOoHAaH4r0EgvLBA0EDGF8" />

        <activity
            android:name=".MapsActivity"
            android:label="Map">
        </activity>
        <activity android:name=".ParashikimiActivity" />

    </application>

</manifest>